/*/*.uvopt
/*/*.dell
/*/*/*.bak
/*/*/*.ddk
/*/*/*.edk
/*/*/*.lst
/*/*/*.lnp
/*/*/*.mpf
/*/*/*.mpj
/*/*/*.obj
/*/*/*.omf
/*/*/*.plg
/*/*/*.rpt
/*/*/*.tmp
/*/*/*.__i
/*/*/*.crf
/*/*/*.o
/*/*/*.d
/*/*/*.axf
/*/*/*.tra
/*/*/*.dep
/*/*/JLinkLog.txt
/*/JLinkLog.txt
/*/*/*.iex
/*/*/*.htm
/*/*/*.sct
/*/*/*.map
/*/*.bat
# /*/*/keil-assistant.log

# 51编译生成文件
/*/*/*.m51
/*/*/*._ia
/*/*/1
/*/*/*.hex
# /*/*.hex
# /*/*.txt
/*/*/*.lock
/*/*/*.sbr
